.discounts {
	&__heading {
		color: #000;
		text-align: center;
		font-family: Manrope;
		font-size: 35px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-top: 75px;
	}
	&__products{
		margin-top: 30px;
	}
	
}
