.footer {
	width: 100%;
	padding: 0 80px;
	background-color: #2b2b2b;
	&__content {
		display: flex;
		justify-content: space-between;
		padding-top: 60px;

	}
	&__social-media {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__icon {
		width: 30px;
		height: 30px;
		color: #55b74c;
		cursor: pointer;
	}
	&__call-number {
		color: #55b74c;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__privet {
		color: #a7a7a7;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}
}
